/********************************TAG SELECTORS**************************/
body {
  background-color: #BBBFCA;
}

hr {
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-color: #495464;
  border-width: 5px;
}

h1 {
  color: #06113C;
}

h3 {
  color: #06113C;
  background-color: lightslategrey;
  font-style: italic;
}

table {
  text-align: center;
}

/********************************CLASS SELECTORS**************************/
.first {
  border-top-style: groove;
  height: 0px;
  width: 100%;
  border-width: 3px;
}

.clr {
  color: lightslategrey;
}
